<meta charset="utf-8">
<style>

	table > tbody > tr > td > a >img {
		width: 210px;
		height: 220px;
		border-radius: 4%;
	}
	
	table > tbody > tr > td > a >img:hover {
		width: 209px;
		height: 220px;
		border: dotted 2px #a8dadc;
	}
	.table {
		width: 80%;
	}
</style>


<div class="content">
<div class="container">
<h2>베스트상품</h2><br>
	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>No</th>
				<th>Name</th>
				<th>Price</th>
				<th>Checkstatus</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="it : ${itemlist}">
				<td>
					<a th:href="@{/info(itemid=${it.itemid})}">
						<img th:src="'/img/'+${it.image}">
					</a>
				</td>
				<td th:text="${it.itemid}">no</td>
				<td th:text="${it.pname}">name</td>
				<td th:text="${it.price}">price</td>
				<td th:text="${it.checkstatus}">status</td>
		</tbody>
	</table>
</div>
</div>