<meta charset="utf-8">
<style>
	#wishlist{
		justify-content: flex-start; 
		display: flex; 
	}
	table > tbody > tr > td > a >img {
		width: 150px;
	}
	
	
	.table table-hover{ 
	width: 80%; 
	}

</style>

<script>
function del(goodid){
	var c = confirm('삭제 하시겠습니까 ?');
	var custid = '[[${session.logincust.custid}]]'; 
	if(c == true){
		location.href='/deletegood?id='+custid+'&goodid='+goodid;
	}
};
</script>

<div class="content" id="wishlist">

	<div class="container">
	  <h2>Wish List</h2><br>
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>ItemID</th>
	        <th>Image</th>
	        <th>Name</th>
	        <th>Price</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="g:${list}">
	        <td th:text="${g.itemid}">itemid</td>
	        <td><a th:href="@{/info(itemid=${g.itemid})}"><img th:src="'/img/' + ${g.item_image}"></a></td>
	        <td th:text="${g.item_name}">item_name</td>
	        <td th:text="${g.item_price}+'원'">item_price</td>
	        <td>
	        	<button th:onclick="del([[${g.goodid}]]);" type="button" class="btn btn-default">삭제</button>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	
</div>