<meta charset="utf-8">
<style>
#iteminfo{
	flex-direction: column;
	}
#c_section1 > img{
	width: 400px;
	height: 440px;
	margin: 20px 0 10px 60px;
	border: 1px solid #edede9; 
}
#c_section2{
	margin: 170px 0 0 150px;
}
#r_section1{
	margin: 50px 0 10px 50px;
}
h4{
	font-weight: bold;
}
#review_btn{
	margin-top: 10px; 
	margin-bottom: 40px;
}
#qna_btn{
	margin: 10px 0 40px 60px
}

.radius_img{
	border-radius: 3%;
}

</style>
<script>

function getreview(itemid){
	location.href='/review/getreview?itemid='+itemid;
}

function getqna(itemid){
	location.href='/getqna?itemid='+itemid;
}

function addorder(itemid){
	var custid = '[[${session.logincust.custid}]]'; 
	location.href='/order/insert?id='+custid+'&itemid='+itemid;
}

$(document).ready(function(){
	$('#up_btn').click(function(){
		var num = $('#num').val();
		var result = Number(num) + 1;
		$('#num').val(result);
	});
	$('#down_btn').click(function(){
		var num = $('#num').val();
		if(num == '0'){
			return;
		}
		var result = Number(num) - 1;
		$('#num').val(result);
	});
	$('#cart_btn').click(function(){
		var itemid = $('#itemid').text();
		var cnt = $('#num').val();
		var custid = '[[${session.logincust.custid}]]';
		var total = $('#tprice').text();
		if(cnt == '0'){
			alert('수량을 입력 하세요');
			return;
		}
		$.ajax({
			url:'/cartinsert', 
			data:{'itemid':itemid, 'cnt':cnt, 'custid':custid, 'total':total},
			success:function(data){
				$('#modal1').modal();
				}
		});
	});
	
	$('#like_btn').click(function(){ 
		var itemid = $('#itemid').text();
		var custid = '[[${session.logincust.custid}]]';
		$.ajax({
			url:'/goodinsert', 
			data:{'itemid':itemid, 'custid':custid},
			success:function(data){
				$('#modal2').modal();
				}
		});
	});
	
});
</script>

<div class="content" id="iteminfo">
	
	<div class="row">
			<div class="col-sm-5" id="c_section1">
			
				<img th:src="'/img/'+${info.image}" class="radius_img"> 
				
			</div>
			<div  class="col-sm-5" id="c_section2" th:if= "${session.logincust != null}">
				<h4 th:text="${info.pname}"></h4>
				<h4 th:text="${info.price}" id="tprice"></h4><br>
				<div class="col-sm-5">
					 <input type="number" value="0" class="form-control container" id="num" readonly="readonly">
					 <div class="btn-group">
							<button type="button" class="btn btn-default btn-sm" id="up_btn">
						          <span class="glyphicon glyphicon-arrow-up"></span> Up
						     </button>
						     
						     <button type="button" class="btn btn-default btn-sm" id="down_btn">
						          <span class="glyphicon glyphicon-arrow-down"></span> Down
						     </button>
				     </div>
				     <button type="button" class="btn btn-default btn-sm" id="cart_btn">
				         <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
				     </button>
				     <div class="btn-group">
				     <button type="button" class="btn btn-default btn-sm" id="like_btn">
				         <span class="glyphicon glyphicon-heart"></span> like
				     </button>
				     <button th:onclick="addorder([[${info.itemid}]])" type="button" class="btn btn-info btn-sm" id="order_btn">
				          Order
				     </button>
				     </div>
				</div>
			     
			</div>
	</div>
	
	<div class="container col-sm-11" id="r_section1">
		<h3>상세 정보</h3>
		<table class="table">
		    <thead>
		      <tr class="active">
		        <th>상품번호</th>
		        <th>상품상태</th>
		        <th>상세정보</th>
		        <th>제조일자</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td th:text="${info.itemid}" id="itemid"></td>
		        <td th:text="${info.checkstatus}"></td>
		        <td th:text="${info.info}"></td>
		        <td th:text="${#dates.format(info.mdate, 'yyyy-MM-dd')}"></td>
		      </tr>
		    </tbody>
  		</table>
	</div>
	
	<!-- dynamic tabs -->
	<br>
	<div class="container col-sm-11">
	
	  <ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#review">리뷰</a></li>
	    <li><a data-toggle="tab" href="#qna">Q&A</a></li>
	  </ul>
	
	  <div class="tab-content">
	    <div id="review" class="tab-pane fade in active">
	      <button th:onclick="getreview([[${info.itemid}]])" id="review_btn" type="button" class="btn btn-info">보기
	      		<span class="glyphicon glyphicon-list-alt"></span>
	      </button>
	    </div>
	    <div id="qna" class="tab-pane fade">
	      <button th:onclick="getqna([[${info.itemid}]])" id="qna_btn" type="button" class="btn btn-info">보기
	      		<span class="glyphicon glyphicon-ok-sign"></span>
	      </button>
	    </div>
	  </div>
	</div>
	</div>



  <!-- Modal1 -->
  <div class="modal fade" id="modal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">장바구니에 상품을 담았습니다.</h4>
        </div>
        <div class="modal-body">
          <p><a th:href="@{/cart/get(id=${session.logincust.custid})}">장바구니로 이동하기</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>
      
    </div>
  </div>
  
   <!-- Modal2 -->
  <div class="modal fade" id="modal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">My Page > 좋아요에 추가되었습니다.</h4>
        </div>
        <div class="modal-body">
          <p><a th:href="@{/good(id=${session.logincust.custid})}">좋아요 목록 보러가기</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>
      
    </div>
  </div>