<meta charset="utf-8">
<style>
#shoppage{
	justify-content: flex-start; 
	display: flex; 
}
</style>


<div class="content" id="shoppage">
	</div>
	<div>
		<ul>
			<h2>오프라인 매장 안내</h2>
			<li>
				<span>서울 종로구 삼일대로 428 낙원악기상가 2층 205호</span>
			</li>
			<li>
				<span>02-2000-1234</span>
			</li>
			<li>
				<span>평일, 토요일 10:00~21:00 / 일요일 휴무</span>
			</li>
			<li>
				<span>친절한 서비스로 보답하겠습니다. 감사합니다.</span>
			</li>
		</ul>
	</div>
	<div id="map" style="width: 1200px; height: 600px;">
	<iframe src="https://storage.googleapis.com/maps-solutions-nvhd1cnygr/locator-plus/opys/locator-plus.html"
	  width="100%" height="100%"
 	 style="border:0;"
 	 loading="lazy">
	</iframe>
	</div>
</div>