<meta charset="utf-8">
<style>
#cartlist {
	justify-content: flex-start;
	display: flex;
}

img {
	width: 200px;
	height: 200px;
}
</style>

<script>

function del(id){
	var c = confirm('삭제 하시겠습니까 ?');
	if(c == true){
		location.href='/cart/delete?id='+id;
	}
};


</script>

<div class="content" id="cartlist">
	<div class="container">
		<h2>장바구니 목록</h2><br>
		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>Image</th>
					<th>Item Name</th>
					<th>Count</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ca : ${cartlist}">
					<td th:text="${ca.cartid}">NO</td>
					<td><a> <img th:src="'/img/' + ${ca.item_image}">
					</a></td>
					<td th:text="${ca.item_name}">Name</td>
					<td th:text="${ca.cnt}">Count</td>
					<td th:text="${ca.item_price}">Price</td>
					<td><button th:onclick="del([[${ca.cartid}]]);" type="button" class="btn btn-default">삭제</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>