<meta charset="utf-8">
<style>
#cate11{
	justify-content: flex-start; 
	display: flex; 
	}	
</style>

<div class="container" id="cate11">
	<h2>스타인웨이</h2>
	<!-- 여기서부터 코딩해주세요 -->
	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>No</th>
				<th>Name</th>
				<th>Price</th>
				<th>Checkstatus</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="it : ${itemlist}">
				<td>
					<a th:href="@{/info(id=${it.itemid})}">
						<img th:src="'/img/'+${it.image}" height = "230px">
					</a>
				</td>
				<td th:text="${it.itemid}">no</td>
				<td th:text="${it.pname}">name</td>
				<td th:text="${it.price}">price</td>
				<td th:text="${it.checkstatus}">status</td>
		</tbody>
	</table>
</div>