<meta charset="utf-8">
<style> 
#itemlist > a > img{
	width: 320px;
	height: 320px;
	border: 1px solid #e0e1dd;
}
h4{
	font-weight: bold;
}
</style>


<div class="content">
<div class="container text-center"><br>
	<h2>테일러</h2>
	<br>
	<div class="row">
		<div th:each="it : ${itemlist}" id="itemlist" class="col-sm-6">
			<a th:href="@{/info(itemid=${it.itemid})}"><img th:src="'/img/'+${it.image}" alt="Image"></a>
			<h4 th:text="${it.pname}">name</h4>
			<p th:text="${it.price}+'원'">price</p>
			<p th:text="${it.checkstatus}">status</p>
		</div>
	</div>
</div>
</div>