<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CartMapper">
	
	<select id="select" parameterType="Integer" resultType="CartDTO">
		SELECT ca.cartid, ca.custid, it.pname as item_name, it.price as item_price, 
		it.image as item_image, ca.cnt, ca.total
		FROM cart ca
		INNER JOIN item it ON ca.itemid = it.itemid
		WHERE ca.cartid = #{cartid}
	</select>
	<select id="selectall" resultType="CartDTO">
	</select>
	<select id="cartall" parameterType="String" resultType="CartDTO">
		SELECT ca.cartid, it.image as item_image, it.pname as item_name, ca.cnt, it.price as item_price FROM cart ca
		INNER JOIN customer cu ON ca.custid = cu.custid
		INNER JOIN item it ON ca.itemid = it.itemid
		WHERE ca.custid = #{custid}
	</select>
	<insert id="insert" parameterType="CartDTO">
		INSERT INTO cart VALUES (NULL, #{custid}, #{itemid}, #{cnt}, #{total})
	</insert>
	<update id="update" parameterType="CartDTO">
		UPDATE cart SET itemid =#{itemid}, cnt=#{cnt} WHERE cartid = #{cartid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE cartid = #{cartid}
	</delete>
		
</mapper>






