<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.GoodMapper">
	
	<select id="select" parameterType="Integer" resultType="GoodDTO"> 
	</select>
	<select id="selectall" resultType="GoodDTO">
	
	</select>
	<insert id="insert" parameterType="GoodDTO">
		INSERT INTO good VALUES (NULL,#{custid},#{itemid})
	</insert>
	<update id="update" parameterType="GoodDTO">
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM good WHERE goodid=#{goodid}
	</delete>
	
	<select id="getallgood" parameterType="String" resultType="GoodDTO">
		SELECT g.custid, g.goodid, i.itemid, i.pname AS item_name, i.price AS item_price, i.image AS item_image 
		FROM good g INNER JOIN item i ON g.itemid = i.itemid
		WHERE custid=#{custid}
	</select>
	
</mapper>