<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.PurchaseMapper">

	<select id="select" parameterType="Integer" resultType="PurchaseDTO">
		SELECT * FROM purchase WHERE purchaseid=#{purchaseid};
	</select>
	
	<select id="selectall" resultType="PurchaseDTO">
		
	</select>
	<insert id="insert" parameterType="PurchaseDTO">
		INSERT INTO purchase VALUES (NULL, #{custid}, #{name}, #{receiver}, #{address}, #{number}, #{pay}, #{totalprice})
		<selectKey keyProperty="purchaseid" resultType="Integer" order="AFTER"> 
                SELECT LAST_INSERT_ID()
        </selectKey> 
	</insert>
	<update id="update" parameterType="PurchaseDTO">
		
	</update>
	<delete id="delete" parameterType="Integer">
		
	</delete>
	
	<select id="getallpurchase" parameterType="String" resultType="PurchaseDTO">
		SELECT * FROM purchase WHERE custid=#{custid};
	</select>

	
</mapper>